html
	head
		link(
			rel="stylesheet" type="text/css"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		)
		link(
			rel="stylesheet" type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css"
		)
	body
		.container
			nav.navbar.navbar-inverse.navbar-embossed
				.container-fluid
					.navbar-header
						a.navbar-brand(href="#") Logo
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/friends") Buscar mis amigos
							li
								a(href="/auth/close") Cerrar sesión
			section
				h1 Awesome profiles
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				sunt in culpa qui officia deserunt mollit anim id est laborum.
				.row
					.col-xs-6(style="float:none;")
						form(action="/logros" method="POST")
							input(type="text" class="form-control"
							placeholder="Que impresionaste logro quieres compartir"
							name="logro"
							)
							input(type="submit" value="Compartir logro"
							class="btn btn-info" style="margin-top:20px;")
